{{ partial "header.html" . }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>

  // Display actual content, if available 
  {{ .Content }}

  // Group all pages by year
  {{- range (.Site.RegularPages.GroupByDate "2006") -}}
    // Take only pages of type "post" into account
    {{- $posts := (where .Pages "Type" "post") -}}
    {{- $posts_count := len $posts -}}
    // .Key is the current year
    // Check if it is an actual year and it contains any posts
    {{ if and (gt .Key 1) (gt $posts_count 0) }}
      // Display the year
      <h2>{{ .Key }}</h2>
      // Create a ul element containing all posts ...
      <ul>
        // ... and iterate over all pages of type "post"
        {{ range (where .Pages "Type" "post") }}
          // Skip hidden posts
          {{ if (ne .Params.hidden true) }}
            <li>
              // Display the post's date
              <span>
                {{ .Date.Format "Jan 02" }}
              </span>
              // Display a link with the post's title
              <a href="{{ .RelPermalink }}">
                <span>{{ .Title }}</span>
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
