<span class="post-meta">
  {{ $datestr := .Site.Params.dateFormat | .Date.Format }}
  <i class="fas fa-calendar"></i>&nbsp;{{ $datestr }}
  {{ if not .Site.Params.hideAuthor }}
    {{ if .Params.author }}
      {{ if reflect.IsSlice .Params.author }}
        {{ range .Params.author }}
          &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ . | safeHTML }}
	{{ end }}
      {{ else }}
        &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Params.author | safeHTML }}
      {{ end }}
    {{ else }}
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Site.Params.author.name | safeHTML }}
    {{ end }}
  {{ end }}
</span>

